<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAfVQ2UW9LslThKGGOGyjC4xB2gn6g7rzs</string>
	<key>GCM_SENDER_ID</key>
	<string>921752843790</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sairyo.MAMONAKU</string>
	<key>PROJECT_ID</key>
	<string>mamonaku-stg</string>
	<key>STORAGE_BUCKET</key>
	<string>mamonaku-stg.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:921752843790:ios:9dbddd0fc1110d97b42e5f</string>
</dict>
</plist>
